    <% stories.articles.forEach(function (story) {%>
        <article class="technology-story tech hide">
            <a href="/<%= story.id %>">
                <h2><%= story.storyTitle %></h2>
                <i class="fa fa-heart" id="like" aria-hidden="true"></i><span id="likeCounter">Likes</span>
                <i class="fa fa-mobile" aria-hidden="true"></i><span>Technologie</span>
                <i class="fa fa-pencil" aria-hidden="true"></i><span><%= story.writer %></span>
                <img src="<%= story.image %>">
                <p><%= story.storyIntro %></p>
                <div id="result"></div>
            </a>
        </article>
    <% }); %>
