<% include partials/global/header %>

    <% include partials/global/top.ejs %>
    <main class="detail">
        <article tabindex="2">
        <a class="backToHome" href="/" title="back to home">Terug naar home</a>
            <h1 tabindex="3" class="title"><%= article.storyTitle %></h1>
            <div class="iconWrapper">
                <div class="icon">
                    <i class="fa fa-heart like" aria-hidden="true"></i><span class="amountOfLikes">0 Likes</span>
                </div>
                <div class="icon">
                    <i class="fa fa-mobile" aria-hidden="true"></i><span><%= article.category %></span>
                </div>
                <div class="icon">
                    <i class="fa fa-pencil" aria-hidden="true"></i></i><span><%= article.writer %></span>
                </div>
            </div>
            <img class="image" src="<%= article.image %>">
            <p tabindex="4"><%= article.storyTextPart1 %></p>
            <p tabindex="5"><%= article.storyTextPart2 %></p>
            <blockquote tabindex="6"><%= article.storyQuote %></blockquote>
            <p tabindex="7"><%= article.storyTextPart3 %></p>
            <p tabindex="8"><%= article.storyTextPart4 %></p>
            <p tabindex="9"><%= article.storyTextPart5 %></p>
            <p class="hide link"><%= article.id %></p>

            <section class="cta cta-like">
                <h3 tabindex="10">Wat vond je van dit artikel?</h3>
                <div class="likeWrapper">
                    <input tabindex="11" type="button" class="likeArticle" value="Like" data-id="<%= article.id %>">
                    <input tabindex="12" type="button" class="dislikeArticle" value="Dislike" data-id="<%= article.id %>">
                </div>
            </section>
        </article>

        <section class="comments">
            <h3>Geef hieronder aan wat je van het artikel vond!</h3>

            <ul id="messages"></ul>
            <form id="sendform" action="">
                <input id="send" autocomplete="off"> <input type="submit" value="Verstuur">
            </form>
        </section>
    </main>



<% include partials/global/footer.ejs %>
