<% include partials/global/header %>

    <% include partials/global/top.ejs %>
    <main class="detail">
        <article>
            <h1><%= article.storyTitle %></h1>
            <div class="iconWrapper">
                <div class="icon">
                    <i class="fa fa-heart" id="like" aria-hidden="true"></i><span id="likeCounter">Likes</span>
                </div>
                <div class="icon">
                    <i class="fa fa-mobile" aria-hidden="true"></i><span><%= article.category %></span>
                </div>
                <div class="icon">
                    <i class="fa fa-pencil" aria-hidden="true"></i></i><span><%= article.writer %></span>
                </div>
            </div>
            <img src="<%= article.image %>">
            <p><%= article.storyTextPart1 %></p>
            <blockquote><%= article.storyQuote %></blockquote>
            <p><%= article.storyTextPart2 %></p>
            <p><%= article.storyTextPart3 %></p>
        </article>
    </main>

<% include partials/global/footer.ejs %>
