<% include partials/global/header %>

    <% include partials/global/top.ejs %>
    <main class="detail">
        <article>
            <section class="cta">
                <div>Geen tijd om te lezen?</div>
                <input id="readLater" type="button" name="like" value="Lees het artikel later!">
            </section>
            <h1 id="title"><%= article.storyTitle %></h1>
            <div class="iconWrapper">
                <div class="icon">
                    <i class="fa fa-heart like" aria-hidden="true"></i><span class="amountOfLikes">0 Likes</span>
                </div>
                <div class="icon">
                    <i class="fa fa-mobile" aria-hidden="true"></i><span><%= article.category %></span>
                </div>
                <div class="icon">
                    <i class="fa fa-pencil" aria-hidden="true"></i></i><span><%= article.writer %></span>
                </div>
            </div>
            <img id="image" src="<%= article.image %>">
            <p><%= article.storyTextPart1 %></p>
            <blockquote><%= article.storyQuote %></blockquote>
            <p><%= article.storyTextPart2 %></p>
            <p><%= article.storyTextPart3 %></p>
            <p><%= article.storyTextPart4 %></p>
            <p><%= article.storyTextPart5 %></p>
            <p class="hide" id="link"><%= article.id %></p>

            <section class="cta">
                <div>Vond je dit een leuk artikel?</div>
                <input type="button" class="likeArticle" value="Like het artikel!">
            </section>
        </article>

        <section>
            <h2 class="hide">Bekijk ook deze artikelen</h2>
            <div id="suggest"></div>
        </section>
    </main>

<% include partials/global/footer.ejs %>
