<% include partials/global/header %>

    <% include partials/global/top.ejs %>

    <% include partials/interests/interests.ejs %>

    <section class="stories">
        <% stories.articles.forEach(function (story) { %>
            <a href="/<%= story.id %>" data-category="<%= story.category %>">
                <h2><%= story.storyTitle %></h2>
                <div class="iconWrapper">
                    <i class="fa fa-heart" id="like" aria-hidden="true"></i><span id="likeCounter">Likes</span>
                    <i class="fa fa-mobile" aria-hidden="true"></i><span><%= story.category %></span>
                    <i class="fa fa-pencil" aria-hidden="true"></i><span><%= story.writer %></span>
                </div>
                <img src="<%= story.image %>">
                <p><%= story.storyIntro %></p>
            </a>
        <% }); %>
    </section>

<% include partials/global/footer.ejs %>
