<% include partials/global/header %>

    <% include partials/global/top.ejs %>

    <% include partials/interests/interests.ejs %>

    <main class="stories">
        <% stories.articles.forEach(function (story) { %>
            <a href="/<%= story.id %>" class="hide" data-category="<%= story.category %>">
                <h2><%= story.storyTitle %></h2>
                <div class="iconWrapper">
                    <i class="fa fa-mobile" aria-hidden="true"></i><span><%= story.category %></span>
                    <i class="fa fa-pencil" aria-hidden="true"></i><span><%= story.writer %></span>
                </div>
                <img src="<%= story.image %>" alt="<%= story.storyTitle %>" title="<%= story.storyTitle %>">
                <p><%= story.storyIntro %></p>
            </a>
        <% }); %>
    </main>

<% include partials/global/footer.ejs %>
